ion-button {
  padding: 0 20px;
}

.register {
  color: grey;
  display: flex;
  // justify-content: end;
  padding: 10px 20px 20px;
}

.inputs {
  padding: 20px;
}

.center {
  color: grey;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.social-links {
  width: 100%;
  text-align: center;
}

b {
  padding-left: 10px;
}
